*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}

#box{
    height: 40%;
    width: 40%;
    padding: 40px;
    background-color: black;
    border-radius: 10px;     
}
button{
    font-size: 30px;
    padding: 25px 40px;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
h3{
    color: white;
    font-size: 35px;
    padding: 20px 20px;
    font-family: cursive;
    text-align: center;
}
#cap{
    color: white;
    font-size: 25px;
    padding-left: 12px;
    text-align: center;
}
#trop{
    color: white;
    font-size: 25px;
    padding: 10px 12px;
    text-align: center;
}

button:active{
    scale: 0.9;
    background-color: lightblue;
}